@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@100;400&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@500;400&family=Ubuntu&display=swap");

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #232323;
}

body::-webkit-scrollbar-thumb {
  background-color: #232323;
  border-radius: 20px;
}



.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: #333;
  background-color: #232323;
}

.navbar {
  display: flex;
  justify-self: flex-end;
  margin: 8px;
  order: 2;

  /* blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navbar_link{
  color: #d0d0d0;
  text-decoration: none;
  font-family: "Roboto Mono";
  font-size: small;
  margin-left: -0.75rem;
  transition: color 0.3s ease-in-out;
}
.navbar_link:hover {
  color: #E3463F;
  transition: color 0.3s ease-in-out;
}
.navbar li {
  margin-right: 2rem;
  margin-top: 2rem  ;
  display: inline-block;
  color: #E3463F;

  font-size: small;
  font-family: "Roboto Mono";
}

.top-row {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:0;
  width: 100%;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  object-fit: contain;
  z-index: 5;

  /* blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}
.top-row.hide{
  top: -6rem;
}
.top-row button {
  background-color: #0a192f;
}

.verticalNavbar {
  color: #E3463F;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 3%;
}

.resume-button {
  color: #E3463F;
  border: 1px solid #E3463F;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;

  align-items: center;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 1rem;
  font-family: "Roboto Mono";
  transition: background-color 0.7s ease-in-out;
}
.resume-button:hover {
  background-color: #dda3a0;
  transition: background-color 0.7s ease-in-out;
}
.logo_main {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 2.5rem;
  width: 2.7rem;
  height: 2.7rem;
}
.navbar_resume {
  display: flex;
  justify-content: flex-end;
}

.d-f {
  display: flex;
}
.icon-vertical-navbar {
  margin-bottom: 2rem;
  width: 20px;
  height: 20px;
  color: #d0d0d0;
  transition: transform 0.3s ease-in-out;
}
.icon-vertical-navbar:hover {
  color: #E3463F;
  transform: translateY(-5px);
}

.nameVertical{
  position: fixed;
  right: -2%;
  top:9%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  
  -webkit-text-stroke: 1px red;
  color: #232323;
  font-weight: bolder;
  font-family: "Roboto";
  font-size: 8rem;
}
.EmailInformation {
  color: #d0d0d0;
}
.EmailInformationMain {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3%;
}

.Email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  font-family: "Roboto Mono";
  color: #d0d0d0;
  font-size: 15px;
}
.Email:hover {
  margin-bottom: 1rem;
  transform: translateY(-5px);
  color: #E3463F;
}
.main {
  margin-left: 12%;
  margin-top: 8%;
  margin-right: 16%;
  font-family: "Roboto Mono";
}
.intro {
  color: #d0d0d0;
}
.name_main {
  font-size: 4.5rem;
  margin: 0;
  -webkit-text-stroke: 1px red;
  color: #232323;
  font-weight: bolder;
  font-family: "Roboto";
  margin-top: 1rem;
}
.task_main {
  color: #545454;
  font-family: "Roboto";
  font-size: 4rem;
}
.about_main {
  margin-top: 2rem;
  color: #d0d0d0;
  font-family: "Roboto";
  line-height: 1.5rem;
}
.action_button_main_head{
  margin-top: 3rem;
}
.action_button_main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 36px;
  padding-left: 36px;
  border-radius: 4px;
  border: 1px solid #E3463F;
  color: #E3463F;
  margin-top: 3rem;
  font-family: "Roboto Mono";
  background-color: #232323;
  transition: all 0.7s ease-in-out;
}
.action_button_main:hover {
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 28px;
  background-color: #dda3a0;
  transition: all 0.7s ease-in-out;
}

.about_me {
  margin-top: 20%;
  margin-left: 16%;
  margin-right: 16%;
  color: #d0d0d0;
  padding-top: 3%;
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.about_me_head {
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: bolder;
  color: #E3463F;
}
.about_me_head span {
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: bolder;
  color: #d0d0d0;
}
.about_me_inner {
  display: flex;
  line-height: 1.5rem;
}
.about_me_about {
  font-size: 1rem;
  margin-top: 2rem;

  color: #d0d0d0;
  font-family: "Roboto";
  line-height: 1.5rem;
  font-weight: 100;
  margin-right: 2rem;
}

.about_me_image{
  margin-top: 2rem;
  border-radius: 8px;
  z-index: 1;
  width: 20rem;
  
  
}
.about_me_img_gradient{
  height: 26.7rem;
  width: 20rem;
  margin-top: 2rem;
  margin-right: 1rem;
  background-color: rgba(173, 173, 173, 0.25);
  border-radius: 8px;
  position: absolute;
  transition: background-color 0.7s ease-in-out;
}
.about_me_img_gradient:hover{
  background-color: rgba(154, 154, 154, 0);
  transition: background-color 0.7s ease-in-out;
}

.about_me_img_border{
  border: 4px solid #d0d0d0;
  border-radius: 8px;
  width: 20rem;
  height: 24rem;
  position: absolute;
  margin-top: 4rem;
  margin-left: 3rem;
  top:2rem;
  transition: margin 0.7s ease-in-out;
  z-index: -1;

}
.about_me_img_gradient:hover ~ .about_me_img_border{

  margin-top: 1rem;
  margin-left: 1rem;
  transition: margin 0.3s ease-in-out;
}
.about_me_image_container{
  position: relative;
}
.skill_bullet{
  line-height: 12px;
  margin-top: 6px;
}
.skill_ul{
  margin-top:1rem;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.Experience{
  margin-top: 16rem;
  margin-left: 24%;
  color: #E3463F;
  font-family: 'Roboto';
  font-size: 1.5rem;

}
.Experience span{
  color: #d0d0d0;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
}
.Experience_inner{

}

.projects{
  margin-top: 16%;
  padding-top: 3%;
  margin-left: 16%;
  margin-right: 16%;
  color: #d0d0d0;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: bolder;
}
.projects span{
  color: #E3463F;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
}
.project{
  position: relative;
  margin-top: 2rem;
  margin: 8% 0 0 0 ;
  width: 100%;
  height: 20rem;
}
.project_image{
    width:70%;
    height: 37vh;
    border-radius: 8px;
    /* top:0;
    left:0; */
    position: absolute;
}
.project_image_gradient{
  position: relative;
  width:70%;
  height: 37vh;
  border-radius: 8px;
  background-color: rgba(109, 109, 109, 0.25);
  z-index: 1;
  transition: all 0.3s ease-in-out;

}
.project_image_gradient:hover{
  background-color: rgba(61,248,213,0);
  transition: all 0.3s ease-in-out;
}
.project_overline{
  font-family: "Roboto Mono";
  color: #d0d0d0;
  font-size: 0.9rem;
  text-align: end;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.left{
  left:0;
}
.right{
  right:0;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.text_align--left{
  text-align: start!important;

}
.project_desc{
  position: absolute;
  /* top:0; */
  /* right:0; */
  padding: 1rem;
  text-align: end;
  align-items: center;
  max-width: 60%;
  z-index: 2;
}
.project_title{

  text-align: end;
  padding-right: 1rem;
  font-size: 1em;
}
.project_description{
  background-color: #545454;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-size: small;
  font-weight: 100;
  margin-top: 0.8rem;
  border-radius: 8px;

}
.project_skills{
  padding: 0.7rem;

}
.project_skill{
  padding: 0.7rem;
  display: inline-block;
  font-size: small;
  font-weight: 100;
  font-family: "Roboto";

}
.project_button{
  color: #545454;
  border: 1px solid #545454;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;

  align-items: center;
  margin-top: 1rem;
  margin-left: 0rem;
  margin-right: 1rem;
  background-color: #0a192f;

  font-family: "Roboto Mono";
  transition: background-color 0.3s ease-in-out;
}
.project_button:hover{
  background-color: #133040;
  transition: background-color 0.3s ease-in-out;
}
.projects_ul{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.projects_li{
  width: 100%;

}
.project_action{
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin-right: 1rem;
    
}
.project_action_icon{
  width: 34px; 
  transition: all 0.3s ease-in-out;
  padding: 4px;
  color:#ccd6f6;
}
.project_action_icon:hover{
  color:#d0d0d0;
  transition: all 0.3s ease-in-out;
}

.contact_me{
    display: flex;
    margin: 20% 16% 20% 16%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3% ;
}
.contact_me_overline{
  font-size: 1rem;
  font-family: "Roboto Mono";
  font-weight: bolder;
  color: #d0d0d0;
}
.contact_me_overline_two{
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: bolder;
  color: #ccd6f6;
  margin: 1rem 0 1rem 0;
}
.contact_me_desc{
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 100;
  color: #d0d0d0;
  margin: 0 16% 3rem 16%;
  text-align: center;

}
.contact_me_button{
  padding: 10px 18px 10px 18px;
  background-color: #E3463F;
  color: #d0d0d0;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-family: "Roboto Mono";
  transition: background-color 0.3s ease-in-out;


}
.contact_me_button:hover{
  background-color: #133040;
  transition: background-color 0.3s ease-in-out;
}
.footer{
  display: flex;

  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem 0;
}
.footer_container{
  color: #ccd6f6;
  font-family: "Roboto Mono";
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.645,0.045,0.355,1);
}
.footer_container:hover{
  color: #d0d0d0;
  transition: color 0.3s cubic-bezier(0.645,0.045,0.355,1);
}
.total_visitors{
  color: #ccd6f6;
  font-family: "Roboto Mono";
  font-size: 0.8rem;
  text-decoration: none;
}
.build_link{
  
}

@media (max-width: 770px) {

}
